.title-container{
    padding: 0%;
    margin: auto;
    width: 90vw;
}

.div-hr{
    padding: 0%;
    margin: 0%;
    width: 100%;
}

hr{
    padding: 0%;
    width: 100%;
    height: 0.1px;
}

.title{
    font-weight: 500;
}